p {
    text-align: justify;
}

main {
    height: 100%;
}

.code {
    font-family: consolas;
    font-weight: bold;
    white-space: pre-wrap;
    background:rgba(255,255,255,0.8);
    line-height: 1.3;
    padding: 7px;
    max-width: 100%;
}

ul {
    font-family: "Open Sans";
    color: #2D2E83;
}

#hd-content {
    display: none;
}

.hg-code {
    color: #E6007E;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

h1 {
    font-family: CoconPro;
    color: #E6007E;
}

.pvc {
    margin-bottom: 35px;
}
