p {
    text-align: justify;
}

main {
    height: 100%;
}

.code {
    font-family: consolas;
    white-space: pre-line;
    font-weight: bold;
    background:rgba(255,255,255,0.8);

}

ul {
    font-family: "Open Sans";
    color: #2D2E83;
}

#hd-content {
    display: none;
}